<?xml version="1.0"?>
<launch>
  <!-- start Webots -->
  <arg name="no_gui" default="false," doc="Start Webots with minimal GUI"/>
  <include file="$(find webots_ros)/launch/webots.launch">
    <arg name="mode" value="realtime"/>
    <arg name="no_gui" value="$(arg no_gui)"/>
    <arg name="world" value="$(find webots_ros)/worlds/panoramic_view_recorder.wbt"/>
  </include>

  <arg name="auto_close" default="false" doc="Startup mode"/>
  <node name="panoramic_view_recorder" pkg="webots_ros" type="panoramic_view_recorder" required="$(arg auto_close)"/>
</launch>
