<?xml version="1.0"?>
<!--
rosrun teleop_twist_keyboard teleop_twist_keyboard.py cmd_vel:=/pioneer_diff_drive_controller/cmd_vel
rosrun gmapping slam_gmapping scan:=/pioneer3at/Sick_LMS_291/laser_scan/layer0 _xmax:=30 _xmin:=-30 _ymax:=30 _ymin:=-30 _delta:=0.2
-->

<launch>
  <!-- ros_control -->
  <group ns="pioneer3at">
    <rosparam>
      pioneer_diff_drive_controller:
        type: "diff_drive_controller/DiffDriveController"
        left_wheel: ['front left wheel', 'back left wheel']
        right_wheel: ['front right wheel', 'back right wheel']
        pose_covariance_diagonal: [0.001, 0.001, 1000000.0, 1000000.0, 1000000.0, 1000.0]
        twist_covariance_diagonal: [0.001, 0.001, 1000000.0, 1000000.0, 1000000.0, 1000.0]
    </rosparam>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="pioneer_diff_drive_controller" />
  </group>

  <!-- Start Webots -->
  <arg name="no_gui" default="false" doc="Start Webots with minimal GUI" />
  <include file="$(find webots_ros)/launch/webots.launch">
    <arg name="mode" value="realtime" />
    <arg name="no_gui" value="$(arg no_gui)" />
    <arg name="world" value="$(find webots_ros)/worlds/pioneer3at.wbt" />
  </include>

  <!-- robot_state_publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="example_state_publisher" respawn="true" respawn_delay="5">
    <remap from="robot_description" to="/pioneer3at/robot_description" />
  </node>

  <!-- Coordinate system fix -->
  <node pkg="tf" type="static_transform_publisher" name="pioneer_lidar_tf" args="0 0 0 0 0 3.14 '/Sick LMS 291' /pioneer3at/Sick_LMS_291 100" />
</launch>
