<?xml version="1.0"?>
<launch>
  <rosparam>
    joint_state_controller:
      type: joint_state_controller/JointStateController
      publish_rate: 100
    diff_drive_controller:
      type: "diff_drive_controller/DiffDriveController"
      left_wheel: 'front left wheel'
      right_wheel: 'front right wheel'
      pose_covariance_diagonal: [0.001, 0.001, 1000000.0, 1000000.0, 1000000.0, 1000.0]
      twist_covariance_diagonal: [0.001, 0.001, 1000000.0, 1000000.0, 1000000.0, 1000.0]
  </rosparam>

  <!-- start Webots -->
  <arg name="no_gui" default="false" doc="Start Webots with minimal GUI"/>
  <include file="$(find webots_ros)/launch/webots.launch">
    <arg name="mode" value="realtime"/>
    <arg name="no_gui" value="$(arg no_gui)"/>
    <arg name="world" value="$(find webots_ros)/worlds/pioneer3at.wbt"/>
  </include>

  <arg name="auto_close" default="false" doc="Startup mode"/>
  <node name="pioneer3at_controller" pkg="webots_ros" type="pioneer3at" required="$(arg auto_close)" />

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller diff_drive_controller" />
</launch>
