<?xml version="1.0"?>
<launch>

  <!-- ros_control -->
  <rosparam>
    arm_controller:
      type: "position_controllers/JointTrajectoryController"
      joints:
        - arm_1_joint
        - arm_2_joint
        - arm_3_joint
        - arm_4_joint
        - arm_5_joint
        - arm_6_joint
        - arm_7_joint
    joint_controller:
      type: joint_state_controller/JointStateController
      publish_rate: 50
    diff_drive_controller:
      type: diff_drive_controller/DiffDriveController
      left_wheel: wheel_left_joint
      right_wheel: wheel_right_joint
      pose_covariance_diagonal: [0.001, 0.001, 1000000.0, 1000000.0, 1000000.0, 1000.0]
      twist_covariance_diagonal: [0.001, 0.001, 1000000.0, 1000000.0, 1000000.0, 1000.0]
  </rosparam>
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="arm_controller joint_controller diff_drive_controller" />

  <!-- Webots -->
  <arg name="no_gui" default="false," doc="Start Webots with minimal GUI"/>
  <include file="$(find webots_ros)/launch/webots.launch">
    <arg name="mode" value="realtime"/>
    <arg name="no_gui" value="$(arg no_gui)"/>
    <arg name="world" value="$(find webots_ros)/worlds/tiago.wbt"/>
  </include>
  <arg name="auto_close" default="false" doc="Startup mode"/>

  <!-- robot_state_publisher -->
  <node pkg="robot_state_publisher" type="robot_state_publisher" name="example_state_publisher" respawn="true" respawn_delay="5" />

  <!--
  <node pkg="webots_ros" type="tiago" name="webots_tiago" args="0.4 -0.3 0.26 -0.011 1.57 0.037" />
  -->
</launch>
